<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="clientKey" value="f5f2c96a6bf948348de274b9168d05dc" />
    <add key="clientId" value="9ff514285aac43a6ac9c07257be3c3d2" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.22.0" newVersion="4.2.22.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>